$line-color: rgb(214, 214, 214);

.card{
    margin: 1rem;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 13px;
}

.product_img{
    height: 320px;
    width: 277px;
    margin: 30px;
}

.product_text{
    height: 300px;
    width: 327px;
}

.product_text h2{
    margin: 10px 0 0 38px;
    padding-top: 52px;
    font-size: 22px;
}

.product_text h3{
    margin: 10px 30px 0 38px;
    font-size: 17px;
    border-top: 1px solid $line-color;
}

.product_price{
    margin-left: 38px;
    font-size: 25px;
}
